@import 'https://fonts.googleapis.com/css?family=Merriweather';
.global-header {
  color: #1b1b1b;
  padding: 5px 8px;
  font-family: 'Merriweather', serif;
  text-align: center;
}
.global-header-highlight {
  background-color: #8c3fc9;
  padding: 0px 10px;
  color: #e0faff;
}
.input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, sans-serif;
}
.input-message {
  align-self: center;
}
.input-field {
  align-self: center;
}
