// purple/black theme
@black: #1b1b1b;
@purple: #8c3fc9;

// change names
@purple-1: @purple;
@purple-2: #7b39b0;
@purple-3: #6b3497;
@purple-4: #5b2f7e;
@purple-5: #4b2a65;

@black-1: #3b254c;
@black-2: #2b2033;

@pink: #c93f7c;
@orange: #c98c3f;
@green: #7cc93f;
@cyan: #3fc98c;
@blue: #3f7cc9;
// #c93f7c (pink) #c98c3f (orange) #7cc93f (green) #3fc98c (cyan) #3f7cc9 (blue)

// red/black theme

// generic
@white: #e0faff;